@font-face {
    font-family: 'helvetica_neueblack_condensed';
    src: url('fonts/helveticaneue-blackcondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-blackcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueBlkExCn';
    src: url('fonts/helveticaneue-blackextendedcondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-blackextendedcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuecondensed';
    src: url('fonts/helveticaneue-condensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueheavy_condensed';
    src: url('fonts/helveticaneue-heavycondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-heavycondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueMdCn';
    src: url('fonts/helveticaneue-mediumcondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-mediumcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuethin_condensed';
    src: url('fonts/helveticaneue-thincondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-thincondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueultraLtCn';
    src: url('fonts/helveticaneue-ultralightcondensed-webfont.woff2') format('woff2'),
        url('fonts/helveticaneue-ultralightcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ErbosDraco1stNBP-Regular';
    src: url('fonts/ErbosDraco1stNBP-Regular.woff2') format('woff2'),
        url('fonts/ErbosDraco1stNBP-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053876;
    overflow: hidden;
    user-select: none;
}

.top-logo {
    display: block;
    margin: 0 auto;
    width: 310px;
    height: auto;
    transform-origin: 50% 50%;
}

.name-text,
.mute-text {
    font-family: 'helvetica_neueBlkExCn', Arial, sans-serif;
    text-transform: uppercase;
}

.name-text {
    fill: #000000;
    font-size: 40px;
}

.mute-text {
    fill: black;
    font-size: 80px;
}

.mute-button {
    cursor: pointer;
    fill: grey;
}

.mute-button.active {
    fill: red;
}

.mute-button.active:hover {
    fill: darkred;
}

.mute-button:hover {
    fill: rgb(70, 70, 70) !important;
}

.name-panel {
    fill: #9ed4fa;
}

.name-input {
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    padding: 0;
    border: none;
    background-color: transparent;
    color: black;
    font-family: 'helvetica_neueBlkExCn', Arial, sans-serif;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.name-input-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 40px; /* Adjust font size as needed */
    font-family: 'helvetica_neueBlkExCn', Arial, sans-serif; /* Use your preferred font */
    text-align: center;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure words wrap correctly */
    overflow: hidden; /* Prevent overflow if text is too long */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Add some padding if needed */
    box-sizing: border-box;
    text-transform: uppercase;
    text-anchor: middle;
    text-align: center;

}

.name-input:focus {
    outline: none;
}

.timer-text {
    font-family: 'helvetica_neueblack_condensed', Arial, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

#timer-panel {
    fill: #9ed4fa;
}

#timer-clock {
    fill: #ffffff;
}

.timer-label {
    font-family: 'helvetica_neueblack_condensed', Arial, sans-serif;
    fill: black;
    text-align: center;
    text-anchor: middle;
    font-size: 20px;
}

.preset-rect,
.custom-time-rect {
    fill: #e0e0e0;
    stroke: black;
    cursor: pointer;
    transition: fill 0.2s;
}

.preset-rect:hover {
    fill: #c0c0c0;
}

#start-background:hover {
    fill: lightgreen;
}

#stop-background:hover {
    fill: lightcoral;
}

#reset-background:hover {
    fill: lightgoldenrodyellow;
}

.outline-path {
    fill: #ffffff;
    z-index: 10;
}

.up-arrow {
    fill: #c01c7b;
}

.up-arrow:hover {
    fill: #7e1251;
}

.down-arrow {
    fill: #ee6ea4;
}

.down-arrow:hover {
    fill: #a74b71;
}

.score-text {
    fill: #c01c7b;
    font-size: 210px;
    font-family: 'ErbosDraco1stNBP-Regular', Arial, sans-serif;
    text-shadow: 0 0 5px #ffff00;
}

.negative-score {
    color: black;
}

.score-panel {
    fill: white;
}

.start {
    fill: green;
}

.stop {
    fill: red;
}

.reset {
    fill: orange;
}

.extra-button-hidden {
    display: none;
}

.countdown-path {
    fill: red;
}

.preset-button:hover rect,
#custom-time-input:hover rect {
    fill: #c0c0c0;
}

.preset-button rect,
#custom-time-input rect {
    transition: fill 0.2s ease;
}

#donation-progress-container {
    position: absolute;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
    width: 70%;
    height: 60px;
    background-color: #233847;
    border-radius: 10px;
    z-index: 10;
    text-align: center;
    font-family: 'helvetica_neueblack_condensed', Arial, sans-serif;
}

#donation-progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #a74b71;
    border-radius: 10px;
}

#current-amount {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #9ed4fa;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 2.5vw;
    text-transform: uppercase;
    white-space: nowrap;
    transition: width 0.5s ease;
    border-radius: 10px;
    font-family: 'helvetica_neueblack_condensed', Arial, sans-serif;
    text-shadow: 2px 2px 10px black;
}

.donation-milestones {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'helvetica_neueblack_condensed', Arial, sans-serif;
    background-color: #ee6ea4;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/* Styling only for the labels */
#goal-label, #raised-label, #next-milestone-label {
    font-family: 'helvetica_neuecondensed';
    letter-spacing: 2px;
    font-size: 1.5vw;
    color: #233847;
    text-decoration: underline;
    text-decoration-color: #7e1251;
    text-decoration-style: solid;
    background-color: transparent;
    font-weight: 300;
}

/* Styling for the dollar values */
#total-goal, #current-raised, #current-milestone-raised {
    font-family: 'helvetica_neueheavy_condensed';
    font-size: 2vw !important;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    text-shadow: 2px 2px 10px black;
    padding-left: 15px;
}

.dollar-sign {
    color: #aaff78; /* Green dollar sign */
    font-family: 'helvetica_neuecondensed';
}

.value {
    color: #ffffff; /* White monetary value */
}

.progress-bar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #7e1251; /* Background of the empty bar */
    border-radius: 10px;
  }

  .progress-bar {
    height: 100%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
  }

  #progress-percentage {
    position: absolute;
    right: 0;
    padding-right: 10px;
    top: 50%;
    font-size: 2vw;
    transform: translateY(-50%); /* Vertically center the text */
    white-space: nowrap;
    color: #ffffff;
    font-family: 'helvetica_neuecondensed';
    text-shadow: 2px 2px 10px black;
  }
